.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}
.register__welcome-message {
  background-color: #30384a;
  color: white;
  padding: 15px;
}

#nav__menu {
	background-image: url(/icons/round.svg) #FFF;
}