<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">id</span>
    <input type="text" ng-model="contactlist['id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="contactlist['name']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
