<div ng-controller="IndexController">
  <super-navbar>
    <!-- <super-navbar-button ng-click="back()">back</super-navbar-button> -->
    <super-navbar-title>
      Contact List
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="contactlists.length == 0">

      <super-navigate ng-repeat="contactlist in contactlists">
        
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
            <p>Invite contacts to event</p>
           {{contactlist.name}}
        </li>

      </super-navigate>

    </ul>


    <super-modal-show ng-click="back()">
      <button class="button button-full button-positive">
        Add
      </button>
    </super-modal-show>
  </div>
</div>
