<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="contactlist['id']"></h2>
      
      
      
       <p>name: <span ng-bind="contactlist['name']"></span></p> 
      


      <super-modal-show location="contactlist#edit?id={{ contactlist.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(contactlist.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
