<div class="list">

  
  <!-- <label class="item item-input item-stacked-label">
    <span class="input-label">id</span>
    <input type="text" ng-model="event['id']">
  </label> -->
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="event['name']">
  </label>
  
  <!-- <label class="item item-input item-stacked-label">
    <span class="input-label">is_public</span>
    <input type="text" ng-model="event['is_public']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">create_by_id</span>
    <input type="text" ng-model="event['create_by_id']">
  </label> -->
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date & Time</span>
    <input type="text" ng-model="event['create_date']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Location:</span>
    <input type="text" ng-model="event['location']">
  </label>

  <br>

  <button class="button button-block button-positive">Save</button>
  <button ng-click="remove(event.id)" class="button button-block button-negative">Remove</button>

</div>
