<div ng-controller="IndexController">
  <super-navbar>
  <super-navbar-button ng-click="openDrawer()">
      <i style="background-image: url('/icons/round.svg')"></i>
      </super-navbar-button>
    <super-navbar-title>
      All Events
    </super-navbar-title>
      <super-navbar-button side="right" ng-click="createNewEvent()">
      Add
      </super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="events.length == 0">

      <super-navigate location="event#show" data-params-id="{{ event.id }}" ng-repeat="event in events">
        <div class="card">
          <div class="item item-text-wrap">
            <div class="row row-center">
              <div class="col"><img src="/app_team_icon/teamLogo_A.png"></div>
              <div class="col" style="text-align:center"><h2 >VS</h2></div>
              <div class="col"><img src="/app_team_icon/teamLogo_B.png"></div>
            </div>
            <div class="row row-center">
              <div class="col" style="text-align:center">Team A</div>
              <div class="col" style="text-align:center"><h2 ></h2></div>
              <div class="col" style="text-align:center">Team B</div>
            </div>
            <p>{{event.create_date * 1000 | date:'yyyy-MM-dd EEEE'}}</p>
            <p>Magabox</p>
          </div>
          
        </div>
      </super-navigate>

    </ul>

  </div>
</div>
