<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Details
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
        <div class="list list-inset">

            <div class="row row-center">
              <div class="col"><img src="/app_team_icon/teamLogo_A.png"></div>
              <div class="col" style="text-align:center"><h2 >VS</h2></div>
              <div class="col"><img src="/app_team_icon/teamLogo_B.png"></div>
            </div>

            <div class="row row-center">
              <div class="col" style="text-align:center">Team A</div>
              <div class="col" style="text-align:center"><h2 ></h2></div>
              <div class="col" style="text-align:center">Team B</div>
            </div>

            <div class="row responsive-sm">
              <div class="col" style="text-align:center"><h4>{{event.create_date * 1000 | date:'yyyy-MM-dd EEEE'}}</h4></div>
              <div class="col" style="text-align:center"><h4>麥花臣場館</h4></div>
            </div>
        </div>
      
      <super-modal-show location="event#edit?id={{ event.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>
      <div class="row row-center">
        <div class="col">Invitees</div>
        
        <div class="col col-50">
          <super-navigate location="contactlist#index">
            <button class="button button-block button-positive">
              Add Invitees
            </button>
          </super-navigate>
        </div>
      </div>
      <div class="list list-inset">
        <div class="item item-divider">
          Coming
        </div>
        <div class="item">陳大文</div>
        <div class="item">ABC</div>
      </div>
      <div class="list list-inset">
        <div class="item item-divider">
          Declined
        </div>
        <div class="item">Jonathan Au</div>
        <div class="item">Keith</div>
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          Pending
        </div>
        <div class="item">Nicole Tang</div>
        <div class="item">Kelvin</div>
      </div>
    </div>
  </div>
</div>
