<div class="list">

  
  
    <span class="input-label">id</span>
    <input type="hidden" ng-model="users['id']">
  
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">mobile_phone</span>
    <input type="text" ng-model="users['mobile_phone']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">mobile_country_code</span>
    <input type="text" ng-model="users['mobile_country_code']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">full_name</span>
    <input type="text" ng-model="users['full_name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">display_name</span>
    <input type="text" ng-model="users['display_name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">app_user_id</span>
    <input type="text" ng-model="users['app_user_id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">create_date</span>
    <input type="text" ng-model="users['create_date']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
