<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Users Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="userss.length == 0">

      <super-navigate location="users#show" data-params-id="{{ users.id }}" ng-repeat="users in userss">
        <li class="item item-icon-right">
          <span ng-bind="users['id']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="userss.length == 0" class="assertive padding">
      No users found. Create one?
    </h4>

    <super-modal-show location="users#new">
      <button class="button button-full button-positive">
        Create a new users
      </button>
    </super-modal-show>
  </div>
</div>
