<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-button ng-click="back()">Back</super-navbar-button>
    <super-navbar-title>
      My Profile
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      

       <p>Phone : <span ng-bind="users['mobile_phone']"></span></p> 
      
       <p>mobile_country_code: <span ng-bind="users['mobile_country_code']"></span></p> 
      
       <p>Name: <span ng-bind="users['display_name']"></span></p> 
      

      <super-modal-show location="users#edit?id={{ users.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

    </div>
  </div>
</div>
