<div class="list">

  <label class="item item-input item-stacked-label">
    <span class="input-label">Full Name</span>
    <input type="text">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Create User ID</span>
    <input type="text">
  </label>

  <br>

  <button class="button button-block button-positive">Submit</button>

</div>
