<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Register
    </super-navbar-title>
  </super-navbar>
  <div class="register__welcome-message">
    <b>Now Please receive your code from sms</b>
    <br>
  </div>
  	<form name="register">
		<div class="list" valdr-type="register">
		  <label class="item item-input">
        <div class="padding">
		      <input type="number" ng-model="register.code" placeholder="code" size="6">
        </div>
		  </label>
		</div>
		<div class="padding">
      <super-navigate location="register#register">
  			<button class="button button-block button-positive">Verify</button>
  		
      </super-navigate>
        <button class="button button-block button-light">Resend Code</button>
    </div>
	</form>

</div>