<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Register
    </super-navbar-title>
  </super-navbar>
  <div class="register__welcome-message">
    <b>Welcome to Hockey Schedule App</b>
    <br>
    Please enter phone number for register.
  </div>
  	<form name="register">
		<div class="list" valdr-type="register">
		  <label class="item item-input">
		    <input type="number" ng-model="register.phone" placeholder="phone...">
		  </label>
		</div>
		<div class="padding">
			<super-navigate location="register#confirm">
				<button class="button button-block button-positive">Submit</button>
			</super-navigate>
		</div>
	</form>

</div>