<div ng-controller="RegisterController">
  <super-navbar>
    <super-navbar-title>
      Register form
    </super-navbar-title>
  </super-navbar>

 <div class="padding">
	<form ng-submit="submitForm()" ng-include="'_form.html'"></form>
</div>