<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">id</span>
    <input type="text" ng-model="groupmembership['id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">user</span>
    <input type="text" ng-model="groupmembership['user']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">group</span>
    <input type="text" ng-model="groupmembership['group']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">status</span>
    <input type="text" ng-model="groupmembership['status']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">membership</span>
    <input type="text" ng-model="groupmembership['membership']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">create_by_id</span>
    <input type="text" ng-model="groupmembership['create_by_id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">create_date</span>
    <input type="text" ng-model="groupmembership['create_date']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
