<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-button ng-click="back()">
    Back
    </super-navbar-button>
    <super-navbar-title>
      Please select your team
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="groupmemberships.length == 0">

      <super-navigate location="group#show" data-params-id="{{ groupmembership.group.id }}" ng-repeat="groupmembership in groupmemberships">
        <!-- <li class="item item-icon-right">
          {{ groupmembership.group.name }}
          <i class="icon super-ios-arrow-right"></i>
        </li> -->
        <div class="card">
          <div class="item item-text-wrap">
            {{ groupmembership.group.name }}
          </div>
        </div>
      </super-navigate>

    </ul>
  </div>
</div>