<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="groupmembership['id']"></h2>
      
      
      
       <p>user: <span ng-bind="groupmembership['user']"></span></p> 
      
       <p>group: <span ng-bind="groupmembership['group']"></span></p> 
      
       <p>status: <span ng-bind="groupmembership['status']"></span></p> 
      
       <p>membership: <span ng-bind="groupmembership['membership']"></span></p> 
      
       <p>create_by_id: <span ng-bind="groupmembership['create_by_id']"></span></p> 
      
       <p>create_date: <span ng-bind="groupmembership['create_date']"></span></p> 
      


      <super-modal-show location="groupmembership#edit?id={{ groupmembership.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(groupmembership.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
