<div class="list">

  
  <label class="item item-input">
    <span class="input-label"></span>
    <input type="text" ng-model="group['name']" placeholder="Team Name">
  </label>

  <button class="button button-block button-positive">Add</button>
</div>
