<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Group Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="groups.length == 0">

      <super-navigate location="group#show" data-params-id="{{ group.id }}" ng-repeat="group in groups">
        <li class="item item-icon-right">
          <span ng-bind="group['id']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="groups.length == 0" class="assertive padding">
      No groups found. Create one?
    </h4>

    <super-modal-show location="group#new">
      <button class="button button-full button-positive">
        Create a new group
      </button>
    </super-modal-show>
  </div>
</div>
