<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Add
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <!-- <h2 ng-bind="group['id']"></h2> -->
      
      
      
       <p>name: <span ng-bind="group['name']"></span></p> 
      
       <!-- <p>is_public: <span ng-bind="group['is_public']"></span></p>  -->
      
       <!-- <p>create_by_id: <span ng-bind="group['create_by_id']"></span></p>  -->
      
       <!-- <p>create_date: <span ng-bind="group['create_date']"></span></p>  -->
      <super-modal-show location="contactlist#index?id={{ contactlist.id }}">
        <button class="button button-block button-positive">
          Add participants
        </button>
      </super-modal-show>
      <super-modal-show location="contactlist#index?id={{ contactlist.id }}">
        <button class="button button-block button-positive">
          Approve Team Request
        </button>
      </super-modal-show>
      <super-modal-show location="contactlist#index?id={{ contactlist.id }}">
        <button class="button button-block button-positive">
          Team Stat
        </button>
      </super-modal-show>
      <super-modal-show location="contactlist#index?id={{ contactlist.id }}">
        <button class="button button-block button-positive">
          My Stat
        </button>
      </super-modal-show>

      <super-modal-show location="contactlist#index?id={{ contactlist.id }}">
        <button class="button button-block button-positive">
          Withdraw Team
        </button>
      </super-modal-show>
    </div>
  </div>
</div>
