<div ng-controller="IndexController">

  <super-navbar>
     <super-navbar-button ng-click="cancel()">
       < back
    </super-navbar-button>
    <super-navbar-title>
      Content List
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="contacts.length == 0">

      <super-navigate ng-repeat="contact in contacts">
        <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         {{contact.displayName}}
      </li>
      </super-navigate>


    </ul>
    <super-modal-show location="group#new">
      <button class="button button-full button-positive">
        Create
      </button>
    </super-modal-show>

  </div>

</div>