<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<ul class="list">
  <li class="item" onclick="supersonic.ui.drawers.close()"><i class="icon super-home"></i> Home</li>
  <li class="item" onclick="supersonic.ui.drawers.close()">
  <super-modal-show view-id="users#show">
    <i class="icon super-person"></i> My Profile
    </super-modal-show>
  </li>
  <!-- <li class="item" onclick="supersonic.ui.drawers.close()">
    <super-modal-show view-id="groupmembership#index">
    Add user to team
    </super-modal-show>
  </li> -->
  <li class="item" onclick="supersonic.ui.drawers.close()">
    <super-modal-show view-id="groupmembership#myteam">
      <i class="super-ios-people"></i> My team
    </super-modal-show>
  </li>
  <!-- <li class="item" onclick="supersonic.ui.drawers.close()">
    <super-modal-show view-id="group#new">
    Create Team
    </super-modal-show>
  </li> -->
</ul>
